<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="posting.devstories.com.posting_android" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 다음 지도 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoTitleDialog" >
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="posting.devstories.com.posting_android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
                android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
                android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="ae9bab6d10c2a572a34ec516b6d07717"/>

        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
        android:theme="@style/NoTitleDialog"
        android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.nickchangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
                android:name=".activities.CouponTextActivity"
                android:screenOrientation="portrait"
                android:theme="@style/NoTitleDialog"
                android:windowSoftInputMode="adjustResize|stateHidden"/>


        <activity
            android:name=".activities.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".activities.OrderPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

       <activity
        android:name=".activities.OrderMapActivity"
        android:screenOrientation="portrait"
        android:theme="@style/NoTitleDialog"
        android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".activities.ServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activities.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activities.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name=".activities.OrderJoinActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.MainActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--<activity-->
            <!--android:name=".activities.PostChatActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/NoTitleDialog"-->
            <!--android:windowSoftInputMode="adjustResize|stateHidden"/>-->
        <activity
            android:name=".activities.MyPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.SchoolagreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.StudentJoinActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.FindIDAndPasswdActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.SchoolActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">


            <!-- intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="threemeals" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter -->
        </activity>


        <activity
            android:name=".activities.MatchInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.DlgStorageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <!-- 가입 팝업 -->
        <activity
            android:name=".activities.DlgJoinActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <!-- 채팅 종료 팝업 -->
        <activity
            android:name=".activities.DlgChattingExitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <!-- 팝업 -->
        <activity
            android:name=".activities.DlgCommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <activity
            android:name=".activities.DlgCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>
        <activity
                android:name=".activities.DlgReportActivity"
                android:screenOrientation="portrait"
                android:theme="@style/full_screen_dialog1"/>
        <activity
            android:name=".activities.DlgPoliceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>

        <!-- 주소찾기 -->
        <activity
            android:name=".activities.AddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <!-- 주소찾기 -->
        <activity
            android:name=".activities.MyPostingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!-- 주소찾기 -->
        <activity
            android:name=".activities.MyPostingWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.PostWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.ReviewWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.ReviewWriteContentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.ReviewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.ChattingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>



    </application>

    <!-- activity
        android:name=".activities.IntroActivity"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:noHistory="true"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="@string/kakaolink_host"
                android:scheme="@string/kakao_scheme" />

        </intent-filter>
    </activity -->


</manifest>