<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="posting.devstories.com.posting_android" >

    <application
        android:name=".base.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!-- activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity -->

        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.OrderJoinActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.MainActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.StudentJoinActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.IDfindActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.SchoolActivity"

            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">


            <!-- intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="threemeals" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter -->
        </activity>

    <!-- 푸시 -->
        <activity
            android:name=".activities.DlgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/full_screen_dialog1"/>
        <!-- 로그인>
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" / -->


    </application>

    <!-- activity
        android:name=".activities.IntroActivity"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:noHistory="true"
        android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:host="@string/kakaolink_host"
                android:scheme="@string/kakao_scheme" />

        </intent-filter>
    </activity -->


</manifest>